body {
    margin: 0;
    font-family: sans-serif;
    padding-bottom: 20px;
}
ul {
    list-style: none;
    margin-left: 15px;
    padding: 0;
}
li { 
    line-height: 1.5em;
}
form > div {
    margin: 10px 0;
}
form label {
    width: 80px;
    display: inline-block;
}
form button, form input[type=submit] {
    width: 250px;
}
button, input[type=submit] {
    padding: 7px 15px;
    background: #fff;
    color: #2aa;
    border-radius: 5px;
    border: 1px solid #2aa;
    cursor: pointer;
    font-size: 14px;
}
button:hover, input[type=submit]:hover  {
    background: #2aa;
    color: #fff;
}
input[type=text] {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #aaa;
    font-size: 14px;
}
a:link, a:visited { 
    text-decoration: none;
}
a:hover, a:active { 
    text-decoration: underline;
}
.header {
    background: #789;
    line-height: 42px;
}
.header-content {
    color: #fff;
    width: 1000px;
    margin: auto;
}
.container {
    width: 1000px;
    background: #f5f5f5;
    margin: auto;
    margin-top: 40px;
    border-radius: 0px;
    border: 1px solid #eaeaea;
    padding: 15px;
}
.city-container {
}
.city-name {
    margin-left: 20px;
}
