<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="mobile-web-app-capable" content="yes">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link rel="icon" sizes="96x96" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>
<div class="header">
    <div class="nav nav-back nav-back-1">
        <a class="back back-1" href="#"><img src="{{ url_for('static', filename='back_arrow.png') }}"></a>
    </div>
    <div class="nav nav-back nav-back-2">
        <a class="back back-2" href="#cities"><img src="{{ url_for('static', filename='back_arrow.png') }}"></a>
    </div>
    <div class="title header-content">
        clc
    </div>
    <div class="nav nav-forward nav-forward-1"> 
        <a class="forward forward-1" href="#cities"><img src="{{ url_for('static', filename='forward_arrow.png') }}"></a>
    </div>
    <div class="nav nav-forward nav-forward-2">
        <a class="forward forward-2" href="#jobs"><img src="{{ url_for('static', filename='forward_arrow.png') }}"></a>
    </div>
</div>
<div class="container" id="city-search-form">
    <div class="nav nav-forward nav-forward-1">
        <a class="forward forward-1" href="#cities"><img src="{{ url_for('static', filename='forward_arrow.png') }}"></a>
    </div>
    <div class="nav clearfix"></div>
    <form class="citysearch" action="citysearch">
        <div>
           <label class="input-label">Base city</label>
           <input type="text" name="defaultcity" value="orangecounty">
           <img class="clear-x" src="{{ url_for('static', filename='x.png') }}">
        </div>
        <div>
           <button id="citysearch">Search for cities</button>
        </div>
    </form>
</div>
<div class="container" id="city-search-results">
    <div class="nav nav-back nav-back-1">
        <a class="back back-2" href="#"><img src="{{ url_for('static', filename='back_arrow.png') }}"></a>
    </div>
    <div class="nav nav-forward nav-forward-2">
        <a class="forward forward-2" href="#jobs"><img src="{{ url_for('static', filename='forward_arrow.png') }}"></a>
    </div>
    <div class="nav clearfix"></div>
</div>
<div class="container" id="job-search-results">
    <div class="nav nav-back nav-back-2">
        <a class="back back-2" href="#cities"><img src="{{ url_for('static', filename='back_arrow.png') }}"></a>
    </div>
    <div class="nav clearfix"></div>
</div>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='clc.js') }}"></script>
<script type="text/template" id="template-loading">
    <div id="{city}-container">
        <h4 class="city">{city}</h4>
        <ul><li class="placeholder">Loading...</li></ul>
    </div>
</script>
<script type="text/template" id="template-loading-failed">
    <li>Loading failed. <a id="try-again-{city}">Try again</a>.</li>
</script>
</body>
</html>
