<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    {% for d in jobsByCity %}
    <div class="city-container">
        <h4 class="city">{{ d.city }}</h4>
        <ul>
            {% for job in d.jobs %}
            <li><a href="{{ job.url }}">{{ job.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
<script src="{{ url_for('static', filename='clc.js' }}"></script>
</body>
</html>
